{% extends "RangeFindOneClickBundle::layout.html.twig" %}
{% form_theme form "RangeFindOneClickBundle:form:fields.html.twig" %}
{% block title %} {{ parent() }} - Ajouter un objet {% endblock %}
{% block middle %}
		<fieldset>
			<legend>Ajouter un objet</legend>
			<form action="#" method="post">
					{{ form_errors(form) }}
					<p>
						<label>{{ form_label(form.identifiant) }}</label>
						{{ form_widget(form.identifiant, {"attr" : {"data-inline" : "true"}}) }}
                        {{ form_errors(form.identifiant) }}
					</p>
					<p>
						<label>{{ form_label(form.titre) }}</label>
						{{ form_widget(form.titre) }}
                        {{ form_errors(form.titre) }}
					</p>
					<p>
						<label>{{ form_label(form.description) }}</label>
						{{ form_widget(form.description) }}
                        {{ form_errors(form.description) }}
					</p>
					{#
					<p>
						<label>{{ form_label(form.photo.name) }}</label>
						{{ form_widget(form.photo.name) }}
					</p>
					<p>
						<label>{{ form_label(form.photo.fichier) }}</label>
						{{ form_widget(form.photo.fichier) }}
					</p>
					#}
					<p>
						{{ form_label(form.date) }}
						<div data-role="controlgroup" data-type="horizontal" data-inline="true">
							{{ form_widget(form.date) }}
						</div>
                        {{ form_errors(form.date) }}
					</p>
					<p>
						<label>{{ form_label(form.parent) }}</label>
						<div data-role="controlgroup" data-type="horizontal" data-inline="true">
							{{ form_widget(form.parent) }}
							<a href="{{ path('RangeFindOneClickBundle_addLocation') }}" data-rel="dialog" data-role="button" data-icon="add">Ajouter</a>
						</div>
                        {{ form_errors(form.parent) }}
					</p>
					<p>
						<label>{{ form_label(form.tags) }}</label>
						{{ form_widget(form.tags, { "attr" : { "class" : "tag hidden"}}) }}
                        {{ form_errors(form.tags) }}
                    </p>
					
					{{ form_rest(form) }}
				<input type="submit" value="Ajouter">
			</form>
		
{% endblock %}
